<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">



    <title>Site</title>
</head>
<body>
    <header class="container">
        <div class="imagem">
          <img src="imgs/logo.png" alt="logo da loja">
        </div>
      
        <ul class="listas">
          <li class="links"> <a href="home.html">Home</a>  </li>
          <li class="links"> <a href="Produtos.html">Produtos</a>   </li>
          <li class="links">  <a href="ofertas.html">Ofertas</a> </li>
          <li class="login"> <a href="login.html">Login</a>  </li>
        </ul>

    <main>
      <!-- <h1>listando os produtos</h1>
      {% for prod i in produtos %}
        <div>
          <p>nome do produto: {{ prod.nome }}</p>
          <p>codigo do produto: {{ prod.codigo }}</p>
          <p>preço: {{ prod.price }}</p>
          <p>descrição do produto: {{ prod.descrição }}</p>
        </div>
      {% endfor %} -->
    </main>



</body>
</html>