{% extends '../base_create_login.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/add_produto.css' %}"> {% endblock %}

{% block title %}Criar conta{% endblock %}

{% block content %}
<div class="card">
  <div class="forms">
    <form class="flex" action="{% url 'cliente:criar_conta' %}" method="POST">
      {% csrf_token %}
      <div class="box-img-logo">
        <img class="imagem" src="{% static 'imgs/logo.png' %}" alt="logo">
      </div>
      <div>
      <div class="form-group">
        <div>
          {{ form.nome.label }}
        </div>
        <div>
          {{ form.nome }}
        </div>
      </div>
      <div class="form-group">
        <div>
          {{ form.email.label }}
        </div>
        <div>
          {{ form.email }}
        </div>
      </div>
      <div class="form-group">
        <div>
          {{ form.cpf.label }}
        </div>
        <div>
          {{ form.cpf }}
        </div>
      </div>
      <div class="form-group">
        <div class="type_cliente">
          {{ form.type_cliente }}
        </div>
      </div>
      <div class="form-group">
        <div>
          {{ form.errors }}
        </div>
      </div>
      <input class="button" type="submit" value="cadastrar">
    </div>
    <a class="mt-30 link" href="{% url 'cliente:index' %}">voltar para a home</a>
  </form>
  </div>
  <div class="box-img-login">
    <div class="box-img">
      <img src="{% static 'imgs/buy.png' %}" alt="logo">
    </div>
    <p class="destaque max-w100">Crie sua conta e venha fazer parte dessa família!</p>
    <a class="link-w" href="{% url 'login' %}">já possui conta? então faça seu login!</a>
  </div>
</div>

    
{% endblock %}