{% extends '../base_create_login.html' %}
{% load static %}

{% block css %}<link rel="stylesheet" href="{% static 'css/criar_conta.css' %}"> {% endblock %}

{% block title %}Criar pessoa Fisica{% endblock %}

{% block content %}
<div class="card">
  <div class="forms">
    <form class="flex" action="{% url 'cliente:criar_pessoa' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="box-img-logo">
        <img class="imagem" src="{% static 'imgs/logo.png' %}" alt="logo">
      </div>
      <h1 class="title">criar Pessoa Fisica</h1>
      <div>
        <div class="form-group">
          <div class="label">
            {{form.username.label}}
          </div>
          <div class="inputs">
            {{form.username}}
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            {{form.email.label}}
          </div>
          <div class="inputs">
            {{form.email}}
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            {{form.cpf.label}}
          </div>
          <div class="inputs">
            {{form.cpf}}
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            {{form.avatar.label}}
          </div>
          <div class="inputs">
            {{form.avatar}}
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            {{form.password.label}}
          </div>
          <div class="inputs">
            {{form.password}}
          </div>
        </div>
        <div class="form-group">
          <div class="label">
            {{form.date_joined.label}}
          </div>
          <div class="inputs">
            {{form.date_joined}}
          </div>
        </div>
        <div>
          {{form.errors}}
        </div>
      </div>
      <input class="button" type="submit" value="proximo">
      </div>
    <a class="mt-30 link" href="{% url 'cliente:index' %}">voltar para a home</a>
    </form>
  </div>
</div>

    
{% endblock %}