{% extends '../base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/home_empresa.css' %}"> 
{% endblock %}

{% block title%}Home{% endblock %}

{% block content %}
  {% if cliente.type_cliente == 'pf' %}
  
  <!-- box calcular frete -->
  <div class="box mb-50 flex center">
    <div class="cep-img">
      <img src="{% static 'imgs/address.png' %}" alt="img_address">
    </div>
    <div>
      <p class="destaque-2 txt-blue fs-30">Calcule quanto dr frete</p>
      <p class="destaque-3 txt-red fs-30">você irá pagar!</p>
      <form class="flex column center" action="">
        <label for="cep">informe o cep:</label>
        <input class="input" type="text">
        <input class="button" type="submit" value="calcular">
      </form>
    </div>
  </div>
  
  <!-- box categorias -->
  <div class="box mb-50 flex column">
    <div>
      <h1 class="title">categorias</h1>
    </div>
    <div class="flex wrap">
    {% for c in categorias %}
      <div class="card-p">
        <a class="title-1" href="{% url 'produto:categoria' c.nome %}">{{ c.nome }}</a>
        <div>
          <img src="" alt="">
        </div>
      </div>
    {% endfor %}
    </div>
  </div>
  
  <!-- produtos mais bem avaliados -->
  <div class="box mb-50">
    <div class="flex align-center title">
      <h1>produtos mais bem avaliados</h1>
      <a class="ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="banner">
      <div  class="flex column center">
        <div>
          <p class="txt-blue destaque-2">os produtos</p>
        </div>
        <div class="text-banner">
          <p class="destaque-3">mais bem avaliados!</p>
        </div>
      </div>
    </div>
    <!-- apresentando produtos -->
    <div class="flex space-around wrap">
    {% for p in produtos_avaliados %}
      <div class="flex card 
      back-white column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
            <img src="{{ p.foto.url }}" alt="img{{p.nome}}">
        </div>
          <p> R$ {{ p.price }}</p>
          <div class="flex center">
            <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
              {% if carrinhos %}
                  <form action="{% url 'carrinho:add_item' p.codigo %}">
                    <select name="carriho" id="car">
                      {% for c in carrinhos %}
                      <option value="{{c.nome}}">{{c.nome}}</option>
                      {% endfor %}
                    </select>
                    <input class="button" value="add" type="submit">
                  </form>
              {% else %}
                <a href="{% url 'carrinho:add_item' p.codigo %}" class="button-c"><img src="{% static 'imgs/carrinho.png' %}" alt="carrinho_icon"></a>   
              {% endif %}
            </div>
          </div>
    {% endfor %}
    </div>
  </div>
  
  <!-- box de produtos de musica -->
  <div class="box back-personal back-red mb-50">
    <div class="flex align-center title">
      <h1 class="txt-white">Top produtos de música</h1>
      <a class="txt-white ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="banner">
      <div class="box-img-music">
        <img src="{% static 'imgs/Music/music1.svg' %}" alt="music">
      </div>
      <div>
        <div>
          <p class="txt-white destaque-2">Deixe a musica</p>
        </div>
        <div class="text-banner">
          <p class="destaque-3">te possuir!</p>
        </div>
      </div>
    </div>
    <!-- apresentando produtos -->
    <div class="flex space-around wrap">
    {% for p in produtos_music %}
      <div class="flex card 
      back-white column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
            <img src="{{ p.foto.url }}" alt="img{{p.nome}}">
        </div>
          <p> R$ {{ p.price }}</p>
          <div class="flex center">
            <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
            <a href="{% url 'carrinho:add_item' p.codigo %}" class="button-c"><img src="{% static 'imgs/carrinho.png' %}" alt="carrinho_icon"></a>
            </div>
          </div>
    {% endfor %}
    </div>
  </div>
  
   <!-- box produtos em oferta -->
  <div class="box flex column mb-50">
    <div class="flex align-center title">
      <h1>produtos em promoção</h1>
      <a class="ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="flex space-around wrap">
    {% for p in produtos %}
      <div class="flex card column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
            <img src="{{ p.foto.url }}" alt="img{{p.nome}}">
        </div>
          <p> R$ {{ p.price }}</p>
          <div class="flex center">
            <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
            <a href="{% url 'carrinho:add_item' p.codigo %}" class="button-c"><img src="{% static 'imgs/carrinho.png' %}" alt="carrinho_icon"></a>
          </div>
        </div>    
    {% endfor %}
    </div>
  </div>
  
  <!-- box com produtos tech -->
    <div class="box back-tech back-blue mb-50">
    <div class="flex align-center title">
      <h1 class="txt-white">Top produtos de tecnologia</h1>
      <a class="txt-white ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="banner mt--30">
      <div class="box-img-tech">
        <img src="{% static 'imgs/Tech/tech1.svg' %}" alt="tech">
      </div>
      <div class="text-banner-tech">
        <div>
          <p class="txt-white destaque-2">Vamos</p>
        </div>
        <div class="text-banner">
          <p class="destaque-3">se conectar!</p>
        </div>
      </div>
    </div>
    <div class="flex mt--30 space-around wrap">
    {% for p in produtos_tech %}
      <div class="flex card 
      back-white column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
            <img src="{{ p.foto.url }}" alt="img{{p.nome}}">
        </div>
          <p> R$ {{ p.price }}</p>
          <div class="flex center">
            <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
            <a href="{% url 'carrinho:add_item' p.codigo %}" class="button-c"><img src="{% static 'imgs/carrinho.png' %}" alt="carrinho_icon"></a>
          </div>
        </div>    
    {% endfor %}
    </div>
  </div>
  {% else %} <!-- home do cliente empresa-->
  
  <!-- box com dados do cliente empresa -->
<div class="box mb-50">
  <h1 class="title">Perfil</h1>
  <div class="flex center mb-50">
    <div class="box-img-perfil">
      <img src="{{cliente.img.url}}" alt="">
    </div>
    <!-- card de dados do usuario -->
    <div class="details card shadow">
      <div class="flex align-center">
        <p><b>nome:</b> {{cliente.user.username}}</p>
        <a class="box-img-editar" href=""><img src="{% static 'imgs/editar-texto.png' %}" alt=""></a>
      </div>
      <div class="flex align-center">
        <p><b>email:</b> {{cliente.user.email}}</p>
        <a class="box-img-editar" href=""><img src="{% static 'imgs/editar-texto.png' %}" alt=""></a>
      </div>
      <p><b>cnpj:</b> {{cliente.cnpj}}</p>
    </div>
    
    <!-- card de estatísticas de compras -->
    <div class="details card shadow">
      <div class="flex align-center">
        <p><b>total de produtos vendidos:</b> 0 </p>
      </div>
      <div class="flex align-center">
        <p><b>total ganho:</b> R$ 00,00</p>
      </div>
      <div class="flex align-center">
        <p><b>última venda:</b> 18/12/2000</p>
      </div>
    </div>
  </div>

  <!-- box de estatisticas de venda-->
  <div class="box shadow mb-50">
    <div class="title align-center flex space-between">
      <h1>estatisticas de venda</h1>
      <a class="destaque-1" href="">visualizar todos as vendas</a>
    </div>
    <div class="flex column">
      <div class="pedido border flex align-center space-between">
        <!-- graficos usando o matplotlib -->
      </div>
  </div>

  <!-- box de gerenciamento do estoque -->
  <div class="box shadow mb-50">
    <div class="title align-center flex space-between">
      <h1>gerenciamento do estoque</h1>
      <a class="destaque-1" href="">visualizar todos o estoque</a>
    </div>
    <div class="flex column">
      <div class="pedido border flex align-center space-between">
        <!-- mostrar produtos em falta ou quase faltando -->     
      </div>
    </div>
  </div>

  {% endif %}
{% endblock %}