{% extends '../base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block title%}Home{% endblock %}

{% block content %}
  <div class="box mb-50 flex center">
    <div>
      <img src="{% static 'imgs/address.png' %}" alt="img_address">
    </div>
    <div>
      <h1 class="title-1 text-center">Calcule quanto de frete você irá pagar!</h1>
      <form class="flex column center" action="">
        <label for="cep">informe o cep:</label>
        <input type="text">
        <input class="button" type="submit" value="calcular">
      </form>
    </div>
  </div>
  
  <div class="box mb-50 flex column">
    <div>
      <h1 class="title">categorias</h1>
    </div>
    <div class="flex wrap">
    {% for c in categorias %}
      <div class="card-p">
        <a class="title-1" href="{% url 'produto:categoria' c.nome %}">{{ c.nome }}</a>
        <div>
          <img src="" alt="">
        </div>
      </div>
    {% endfor %}
    </div>
  </div>

  <div class="box flex column">
    <div class="flex align-center title">
      <h1>produtos em promoção</h1>
      <a class="ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="flex space-around wrap">
    {% for p in produtos %}
      <div class="flex card column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
            <img src="{{ p.foto.url }}" alt="img{{p.nome}}">
        </div>
          <p> R$ {{ p.price }}</p>
          <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
        </div>    
    {% endfor %}
    </div>
  </div>
{% endblock %}