{% extends '../base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/home.css' %}"> 
{% endblock %}

{% block title%}Home{% endblock %}

{% block content %}
  <div class="box">
    <div class="flex align-center title">
      <h1>produtos em promoção</h1>
      <a class="ml-20" href="{% url 'produto:index' %}">ver todos os produtos</a>
    </div>
    <div class="flex space-around wrap">
    {% for p in produtos %}
      <div class="flex card column">
        <h1>{{ p.nome }}</h1>
        <div class="box-img">
        {% for list in list_img %}
          {% if list.produto == p %}
            <img src="{{ list.foto.url }}" alt="img{{p.nome}}">
          {% endif %}
        {% endfor %}
        </div>
          <p> R$ {{ p.price }}</p>
          <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
        </div>    
    {% endfor %}
    </div>
  </div>
{% endblock %}