{% extends '../base_create_login.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="card">
  <div class="forms">
    <form class="flex" action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="box-img-logo">
        <img class="imagem" src="{% static 'imgs/logo.png' %}" alt="logo">
      </div>
      <div>
      <div class="form-group">
        <div>
          {{ form.username.label }}
        </div>
        <div>
          {{ form.username }}
        </div>
      </div>
      <div class="form-group">
        <div>
          {{ form.password.label }}
        </div>
        <div>
          {{ form.password }}
        </div>
      </div>
      <input class="button" type="submit" value="entrar">
    </div>
    <a class="mt-30 link" href="{% url 'cliente:index' %}">voltar para a home</a>
  </form>
  </div>
  <div class="box-img-login">
    <div class="box-img">
      <img src="{% static 'imgs/pay.png' %}" alt="logo">
    </div>
    <a class="link-w" href="{% url 'cliente:criar_conta' %}">Não possui conta? cria já a sua!</a>
  </div>
</div>
{% endblock %}