*{
    margin: 0;
    padding: 0;
}

:root{
    --azul: rgba(31, 131, 170, 1);
    --cinza: rgba(0, 0, 0, 0.05);
    --vermelho: indianred;
    --font: 'Roboto', sans-serif;
    --font2: 'Oswald', sans-serif;
    --font3: 'Staatliches', sans-serif;
    --font4: 'Rock Salt', sans-serif;
    --font5: 'Pacifico', sans-serif;
}

body{
  font-size: 12px;
  font-family: var(--font);
  background-color: rgba(0, 0, 0, 0.05);
}

.mt-50{
  margin-top: 50px;
}

.mt-30{
  margin-top: 30px;
}

.my-15{
  margin: 15px 0;
}

.space-between{
  justify-content: space-between;
}

.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}

.mb-50{
  margin-bottom: 50px;
}

.mb-10{
  margin-bottom: 10px;
}

.mt--30{
  margin-top: -40px;
}

.ml-20{
  margin-left: 20px;
}

.ml-10{
  margin-left: 10px;
}

.mr-10{
  margin-right: 10px;
}

.text-center{
  text-align: center;
}

.align-center{
  align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

.flex{
    display: flex;
}

.title-1{
  font-family: var(--font);
}

.title{
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 5px solid var(--cinza);
}

.column{
    flex-direction: column;
}

.center{
    justify-content: center;
    align-items: center;
}

.button{
    background-color: var(--vermelho);
    color: white;
    padding: 7px 15px;
    border-radius: 10px;
    border: none;
}

.button-c{
  max-width: 20px;
  margin-left: 10px;
}

.button-c > img{
  width: 100%;
  height: 100%;
}

.button:hover{
  background-color: var(--azul);
}

main{
  margin: 20px;
}

.space-around{
  justify-content: space-around;
}

.box{
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.wrap{
  flex-wrap: wrap;
}

.max-width-300{
  max-width: 300px;
}

.shadow{
  box-shadow: 3px 3px 25px rgb(0,0,0,0.05);
}

.destaque-1{
  color: var(--azul);
  font-weight: 700;
  font-family: var(--font);
  font-size: 20px;
}

.destaque-2{
  font-family: var(--font3);
  font-size: 80px;
}

.destaque-3{
  font-family: var(--font5);
  font-size: 60px;
  text-align: center;
  text-decoration: underline;
}

.fs-30{
  font-size: 30px;
}

.input{
  border: 2px solid var(--cinza);
  border-radius: 10px;
  padding: 3px;
}

.input:hover{
  border: 2px solid var(--azul);
}

.text-banner{
  margin-top: -50px;
}

.border{
  border: 2px solid var(--azul);
}

.border-r{
  border-radius: 10px;
}

.card-c{
  padding: 10px 15px;
  border-radius: 15px 0;
  margin-bottom: 15px;
  border: 2px solid rgb(0,0,0,0.05);
}

.box-text{
  font-size: 12px;
  text-align: justify;
  margin: 10px 0;
  border-radius: 10px;
  background-color: rgb(0,0,0,0.05);
  padding: 15px;
}

.box-img-avatar{
  border-radius: 50%;
  /*border: 2px solid var(--azul);*/
  max-width: 50px;
  max-height: 50px;
  overflow: hidden;
  margin-right: 20px;
}

.box-img-avatar > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.p-5-10{
  padding: 5px 10px;
}

.p20{
  padding: 20px;
}

.classificacao{
  padding: 7px 15px;
  color: white;
  border-radius: 7px;
  background-color: var(--azul);
}

.end{
  justify-content: end;
}

.w100p{
  width: 100%;
}

.form-group{
  margin: 15px 0;
  width: 100%;
}

@media(max-width: 800px){
  .box{
    justify-content: center;
    flex-direction: column;
  }
  
  .cep-img{
    max-width: 300px;
  }
  
  .cep-img > img{
    width: 100%;
    height: 100%;
  }
}