.estoque{
  padding: 10px 40px;
}

.box-qtd{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--azul);
  color: white;
  border-radius: 10px;
  border: 10px double white;
  padding: 20px 50px;
  width: 100%;
}

.element-qtd{
  text-align: center;
}

.line{
  border: 2px solid white;
  height: 70px;
}

.line-h{
  border: 1px solid var(--vermelho);
  width: 80%;
  height: 0;
}

.line-h-blue{
  border: 1px solid var(--azul);
  width: 80%;
  height: 0;
}

.box-icon{
  max-width: 20px;
  height: auto;
}

.box-icon > img{
  width: 100%;
  height: 100%;
}

.num{
  font-family: var(--font3);
  font-size: 60px;
}

.num1{
  font-family: var(--font3);
  font-size: 30px;
}

.maxw-200{
  max-width: 100px;
  height: auto;
}

.box-img-prod{
  max-width: 100px;
  height: auto;
}

.box-img-prod > img{
  width: 100%;
  height: 100%;
}

.card-produto{
  border: 2px solid var(--cinza);
  margin: 15px;
  border-radius: 10px;
  padding: 15px 0;
}

.add-rem{
  background-color: var(--cinza);
  padding: 15px;
  border-radius: 20px;
  display: flex;
  max-width: 200px;
  justify-content: space-around;
  align-items: center;
}

.form-qtd{
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.qtd_produto{
  max-width: 40px;
  text-align: center;
  background-color: transparent;
  border: none;
}

.qtd-p{
  margin: 0 30px;
}

.button-circle{
  border-radius: 50%;
  min-width: 30px;
  height: 30px;
  color: white;
  font-size: 20px;
}

.button-circle:hover{
  cursor: pointer;
}

.red{
  background-color: var(--vermelho);
}

.blue{
  background-color: var(--azul);
}