{% extends '../base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/detail_produto.css' %}"> 
{% endblock %}

{% block title %}Detalhes{% endblock %}

{% block content %}
<!-- detalhes do produto -->
  <div class="box mb-50">
    <div class="title flex space-between">
      <h1>Detalhes do produto</h1>
      <a class="button" href="{% url 'produto:remove' produto.codigo %}">deletar produto</a>
    </div>
    <div class="flex center space-around">
      <div class="flex column">
        <div class="box-img">
          <img src="{{ produto.foto.url }}" alt="img_{{ produto.nome }}">
        </div>
        <a class="button my-15 text-center" href="{% url 'produto:add_fotos' produto.codigo %}">adicionar mais fotos</a>
      </div>
      <div class="card border border-r shadow">
        <p><b>Código do Produto:</b> {{produto.codigo}}</p>
        <p><b>Nome do Produto:</b> {{produto.nome}}</p>
        <p><b>descrição do Produto:</b> {{produto.descricao}}</p>
        <p><b>Preço do Produto:</b> {{produto.price}}</p>
        <p><b>Categoria do Produto:</b> {{produto.categoria}}</p>
        <p><b>Quantidade do Produto:</b> {{produto.quantidade}}</p>
        <p><b>Status do Produto:</b> {{produto.status}}</p>
      </div>
    </div>
  </div>
  
<!-- fotos do produto -->
  <div class="box mb-50">
    <h1 class="title">Todas as fotos</h1>
    <div class="flex wrap">
      {% if list_imgs %}
        {% for imgs in list_imgs %}
          <div class="flex column ml-10 space-between">
            <div class="box-img-1 ml-10 mb-10">
              <img src="{{ imgs.foto.url }}" alt="img">
            </div>
            <a class="button" href="{% url 'produto:remove_img' imgs.id %}">deletar imagem</a>
          </div>
        {% endfor %}
      {% else %}
        <p class="destaque-1">não possui fotos adicionais</p>
      {% endif %}
    </div>
  </div>
  
<!-- comentarios sobre o produto -->
  <div class="box mb-50">
    <div class="title flex space-between">
      <h1>comentários</h1>
      <a class="button" href="">adicionar comentário</a>
    </div>
    <div>
      {% if comentarios %}
      {% for c in comentarios %}
        <div class="card-c flex column">
          <div class="cliente flex align-center">
            <div class="box-img-avatar">
              <img src="{{c.cliente.avatar.url }}" alt="avatar">
            </div>
            <p class="p-5-10 border border-r"><b>{{c.cliente.nome}}</b></p>
          </div>
        <div class="box-text">
          <p>{{c.comentario}}</p>
        </div>
        <div class="flex end">
          <div class="classificacao">
            <p>stars: {{c.stars}}</p>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p class="destaque-1">o produto não possuí comentários</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
