{% extends '../base.html' %}
{% load static %}

{% block css %} 
    <link rel="stylesheet" href="{% static 'css/list_produtos.css' %}"> 
{% endblock %}

{% block title %}Produtos{% endblock %}

{% block content %}
  <div class="box flex column">
    <div class="title flex space-between">
      {% if categoria %}
        <h1>Listando produtos de {{categoria}}</h1>
      {% else %}
        <h1>Listando todos produtos</h1>
      {% endif %}
      {% if cliente.type_cliente == 'em' %}
        <a class="button" href="{% url 'produto:add' %}">adicionar novo produto</a>
      {% endif %}
    </div>
    <div>
      {% if produtos %}
        {% for p in produtos %}
        <div class="card-produto shadow">
          <div class="box-img-p">
            <img src="{{ p.foto.url }}" alt="img_{{ p.nome }}">
          </div>
          <div class="descricao">
            <p><b>nome:</b> {{ p.nome }}</p>
            {% if p.status == "o" %}
              <p><b>status:</b> oferta</p>
            {% elif p.status == "n" %}
              <p><b>status:</b> normal</p>
            {% else %}
              <p><b>status:</b> falta</p>
            {% endif %}
            <p><b>quantidade:</b> {{ p.quantidade }}</p>
          </div>
          <p class="destaque-1">R${{ p.price }}</p>
          <div class="flex center">
            <a class="button" href="{% url 'produto:detail' p.codigo %}">detalhes</a>
            <a href="{% url 'carrinho:add_item' p.codigo %}" class="button-c"><img src="{% static 'imgs/carrinho.png' %}" alt="carrinho_icon"></a>
          </div>
          </div>
      {% endfor %}
      {% else %}
        <p class="destaque-1">esta categoria não possui produtos</p>
      {% endif %}
    </div>
  </div>
{% endblock %}