<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Staatliches&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="box-img-logo">
          <a href="{% url 'cliente:index' %}"><img class="imagem" src="{% static 'imgs/logo.png' %}" alt="logo"></a>
        </div>
      
        <ul class="nav-menu">
          <li><a class="color-white" href="{% url 'cliente:index' %}">Home</a></li>      
          {% if cliente.type_cliente == 'pf' %}
            <li><a class="color-white" href="{% url 'produto:index' %}">Produtos</a></li>  
            <li><a class="color-white" href="{% url 'carrinho:index' %}">Carrinho</a></li>
            <li><a class="color-white" href="{% url 'cliente:perfil' %}">perfil</a></li>
          {% else  %}
          <li><a class="color-white" href="{% url 'produto:produtos_emp' %}">Produtos</a></li>
          <li><a class="color-white" href="{% url 'produto:estoque' %}">Estoque</a></li>
          {% endif %}
          {% if user.is_authenticated %}
            <li><a class="button-header" href="{% url 'logout' %}">sair</a></li>
          {% else %}
            <li><a class="color-white" href="{% url 'cliente:tipo-cliente' %}">criar conta</a></li>
            <li><a class="button-header" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
        <div class="button-drop">
          <div class="bar"></div>
          <div class="bar"></div>
          <div class="bar"></div>
        </div>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
    
    {% if is_paginated %}
    <div class="box mb-50 flex center">
      <div class="flex">
        {% for i in page_obj.paginator.page_range %}
          <a class="destaque-1 mx-10" href="{{request.path}}?page={{i}}">{{i}}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <footer>
      <div class="flex space-around">
        <div>
          <p class="destaque">midias digitais</p>
        <ul class="flex column">
          <li><a href="https://instagram.com/c.gabriel18?igshid=NGExMmI2YTkyZg==">Instagram</a></li>
          <li><a href="https://www.linkedin.com/mwlite/in/carlos-gabriel-254700197">Linkedin</a></li>
          <li><a href="https://github.com/CarlosG18">Github</a></li>
        </ul>
      </div>
      <div>
        <p class="destaque">contatos</p>
        <ul class="flex column">
          <li>Email: contato_compronline@gmail.com</li>
          <li>Telefone1: 4002-8922</li>
          <li>Telefone2: 5555-8989</li>
        </ul>
      </div>
      </div>
      <div class="flex center mt-50 mx-10">
        <ul class="flex space-around">
          <li><a class="destaque" href="#">sobre o criador</a></li>
          <li><a class="destaque" href="https://github.com/CarlosG18/e-comerce_django">codigo fonte</a></li>
        </ul>
      </div>
    </footer>

{% block js %}{% endblock %}
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>