<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}{% endblock %}
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <div class="box-img-logo">
          <a href="{% url 'cliente:index' %}"><img class="imagem" src="{% static 'imgs/logo.png' %}" alt="logo"></a>
        </div>
      
        <ul>
          <li><a class="color-white" href="#">{{request.user.username}}</a></li>
          <li><a class="color-white" href="{% url 'cliente:index' %}">Home</a></li>
          <li><a class="color-white" href="{% url 'produto:index' %}">Produtos</a></li>
          <li><a class="color-white" href="{% url 'produto:ofertas' %}">Ofertas</a></li>
          {% if user.is_authenticated %}
            <li><a class="color-white" href="{% url 'cliente:perfil' request.user.id %}">perfil</a></li>
            <li><a class="button-header" href="{% url 'logout' %}">sair</a></li>
          {% else %}
            <li><a class="color-white" href="{% url 'cliente:tipo-cliente' %}">criar conta</a></li>
            <li><a class="button-header" href="{% url 'login' %}">Login</a></li>
          {% endif %}
        </ul>
    </header>

    <main>
      {% block content %}{% endblock %}
    </main>
    
    {% if is_paginated %}
    <div class="box mb-50 flex center">
      <div class="flex">
        {% for i in page_obj.paginator.page_range %}
          <a class="destaque-1 mx-10" href="{{request.path}}?page={{i}}">{{i}}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}

    <footer>
      <div class="flex space-around">
        <div>
          <p class="destaque">midias digitais</p>
        <ul class="flex column">
          <li><a href="#">Instagram</a></li>
          <li><a href="#">Linkedin</a></li>
          <li><a href="#">Github</a></li>
        </ul>
      </div>
      <div>
        <p class="destaque">ComproOnline</p>
        <ul class="flex column">
          <li><a href="{% url 'cliente:index' %}">Home</a></li>
          <li><a href="{% url 'produto:index' %}">Produtos</a></li>
          <li><a href="{% url 'produto:ofertas' %}">Ofertas</a></li>
          <li><a href="{% url 'cliente:criar_conta' %}">criar conta</a></li>
          <li><a href="{% url 'login' %}">Login</a></li>
        </ul>
      </div>
      <div>
        <p class="destaque">contatos</p>
        <ul class="flex column">
          <li>Email: </li>
          <li>Telefone1: 4002-8922</li>
          <li>Telefone2: 5555-8989</li>
        </ul>
      </div>
      </div>
      <div class="flex center mt-50 mx-10">
        <ul class="flex space-around">
          <li><a href="#">Termo de responsabilidade</a></li>
          <li><a href="#">licenças</a></li>
          <li><a href="#">sobre o criador</a></li>
          <li><a href="#">codigo fonte</a></li>
        </ul>
      </div>
    </footer>

    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>